.env
*.json
*.parquet
*.csv
*.duckdb
*.wal
*.log
*.pid
data/
target/
logs/
dbt_packages/

**/__pycache__
.DS_Store

**.coverage
**/coverage.xml
**/dist
**/info

!package*.json
.svelte-kit
build
node_modules
.DS_Store
.evidence-queries