name: Indexer Tests

on:
  push:
  pull_request:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:

      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v3
            
          - name: Docker Compose Run Tests
            working-directory: packages/indexer
            run: docker compose -f docker-compose.yaml -f docker-compose.tests.yaml run indexer

          - name: Comment coverage
            uses: highspeedoffice/pytest-cov-xml-parser@v1

          - name: Pytest coverage comment
            uses: MishaKav/pytest-coverage-comment@main
            with:
              junitxml-path: packages/indexer/pytest.xml
              pytest-xml-coverage-path: packages/indexer/coverage.xml

          - name: Check the output coverage
            run: |
              echo "Coverage Percantage - ${{ steps.coverageComment.outputs.coverage }}"
              echo "Coverage Color - ${{ steps.coverageComment.outputs.color }}"
              echo "Coverage Html - ${{ steps.coverageComment.outputs.coverageHtml }}"
              echo "Summary Report - ${{ steps.coverageComment.outputs.summaryReport }}"

              echo "Coverage Warnings - ${{ steps.coverageComment.outputs.warnings }}"

              echo "Coverage Errors - ${{ steps.coverageComment.outputs.errors }}"
              echo "Coverage Failures - ${{ steps.coverageComment.outputs.failures }}"
              echo "Coverage Skipped - ${{ steps.coverageComment.outputs.skipped }}"
              echo "Coverage Tests - ${{ steps.coverageComment.outputs.tests }}"
              echo "Coverage Time - ${{ steps.coverageComment.outputs.time }}"
              echo "Not Success Test Info - ${{ steps.coverageComment.outputs.notSuccessTestInfo }}"